<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.kai.assistschedule.ui.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ru.kai.assistschedule.ui.internal.views.setting.SettingPerspective"
            icon="icons/settings.png"
            id="ru.kai.assistantschedule.setting.perspective"
            name="Настройки"
            sort="10">
      </perspective>
      <perspective
            class="ru.kai.assistschedule.ui.internal.views.reports.ReportsPerspective"
            icon="icons/reports.png"
            id="ru.kai.assistantschedule.reports.perspective"
            name="Отчеты"
            sort="30">
      </perspective>
      <perspective
            class="ru.kai.assistschedule.ui.internal.views.processing.ProcessingPerspective"
            icon="icons/processing.png"
            id="ru.kai.assistantschedule.processing.perspective"
            name="Обработки"
            sort="20">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.kai.assistschedule.ui.application"
            name="Assit Schedule Ui">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Assit Schedule Ui">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ru.kai.assistschedule.ui.internal.views.Toolbar">
            <dynamic
                  class="ru.kai.assistschedule.ui.internal.views.ApplicationToolbar"
                  id="ru.kai.assistschedule.ui.internal.views.ApplicationToolbar">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ru.kai.assistschedule.ui.internal.views.status.StatusView"
            id="ru.kai.assistantschedule.status.view"
            name="Консоль">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.setting.SettingView"
            id="ru.kai.assistantschedule.setting.view"
            name="Настройки/Подключение">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.setting.ScheduleView"
            id="ru.kai.assistantschedule.schedule.view"
            name="Расписание">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.setting.LoadView"
            id="ru.kai.assistantschedule.load.view"
            name="Нагрузка"
            restorable="true">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.reports.GeneralView"
            id="ru.kai.assistantschedule.reports.professorsSchedule.generalView"
            name="Общее расписание преподователей">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.reports.IndividualView"
            id="ru.kai.assistantschedule.reports.professorsSchedule.individualView"
            name="Частное расписание преподователей"
            restorable="false">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.reports.ReportsView"
            id="ru.kai.assistantschedule.reports.view"
            name="Отчеты">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.processing.ScheduleView"
            id="ru.kai.assistantschedule.processing.schedule.view"
            name="Расписание">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.processing.LoadView"
            id="ru.kai.assistantschedule.processing.load.view"
            name="Нагрузка"
            restorable="false">
      </view>
      <view
            class="ru.kai.assistschedule.ui.internal.views.processing.ProcessingView"
            id="ru.kai.assistantschedule.processing.view"
            name="Обработки">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="ru.kai.assistantschedule.status.view"
               minimized="true"
               relationship="stack"
               relative="bottomFolder"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ru.kai.assistantschedule.setting.perspective">
         <view
               closeable="false"
               id="ru.kai.assistantschedule.schedule.view"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.load.view"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.setting.view"
               relationship="stack"
               relative="leftFolder"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ru.kai.assistantschedule.reports.perspective">
         <view
               closeable="false"
               id="ru.kai.assistantschedule.reports.professorsSchedule.generalView"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.reports.professorsSchedule.individualView"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.reports.view"
               relationship="stack"
               relative="leftFolder"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ru.kai.assistantschedule.processing.perspective">
         <view
               closeable="false"
               id="ru.kai.assistantschedule.processing.schedule.view"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.processing.load.view"
               relationship="stack"
               relative="rightFolder"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ru.kai.assistantschedule.processing.view"
               relationship="stack"
               relative="leftFolder"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="ru.kai.assistschedule.ui.splashHandlers.InteractiveSplashHandler"
            id="ru.kai.assistschedule.ui.splashHandlers.interactive">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <theme
            id="ru.kai.assistschedule.ui.theme1"
            name="CustomFont">
         <fontOverride
               id="ru.kai.assistschedule.ui.fontOverride1"
               value="PT Serif">
         </fontOverride>
      </theme>
   </extension>

</plugin>
